html {
  height: 100vh;
}

#presentacion1{
  /*  border: 2px solid black; */
   width: 80%;
   display: inline-block;  
   top: 0;
   margin: 0.5rem 0;  
   font-weight: bold;
   font-size: 1.1rem;
   /* text-transform: uppercase; */
  color: rgb(8, 18, 18);
  font-family:Georgia, 'Times New Roman', Times, serif;
 
   
   
 }

#presentacion2{
  /*  border: 2px solid black; */
   width: 80%;
   display: inline-block;  
   top: 0;
   margin: 0.5rem 0;  
   color: black;
   
 }
 

.contenedorOraciones{ 
   display: flex;
   flex-flow: row wrap;/* row para respetar el orden creado desde los div en html y wrap para que se acomoden*/
   width: 80%;
   margin: 1rem auto;
   padding: 0.5rem;
   background-color: white;
   box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
 }
 .oraciones{
  margin-bottom: 2rem;
  color: black;
 }
.column {
   padding: 0.5rem;   
   flex:50%;
}
li{
  list-style: circle;
  margin-bottom: 0.2rem;
}


.titulo{ /* oracion que se genera dinamicamente al hacerle click cambia */
   font-weight: bolder;
   margin-bottom: 0.2rem;
   cursor: pointer;  
  
 }


 .intro{
   position: relative; /* necesario el position relatie para la posicion absoluta del boton */
   background-color: white;
   width: 80%;
   min-height: 10vh;
   margin: 0.5rem auto;
 }
 #dark-mode-button{
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 0.2rem;
  transition: all 0.5s ease;
  background-color: rgb(235, 230, 230);
  border-radius: 5%;
  padding: 0.3rem;
  border: 1px solid black;
  cursor: pointer;
  
}


.containerFooter{
  width: 80%;
  margin: 0.5rem auto 0 auto;
  padding: 1rem; 
}
#footer{
  text-align: center;
  font-weight: bolder;
  font-size: 0.9rem;
  font-family: sans-serif;
}

.material-symbols-outlined {  /* icono dark mode google font */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#tituloPagina1{
  font-weight: bold;
  color: RGB(82, 113, 255);
  font-size: 1.1rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}
#tituloPagina2{
  font-weight: bold;
  color:RGB(82, 113, 255);
  
}

a.gramatica {
  text-decoration: none;
  color: black;
}





@media screen and (max-width: 1000px) { /* en celulares se expande al 96% el texto del contenedor */
    .contenedorOraciones{
      width: 96%;   
    }
    
    .footer{
      width: 96%;
    }
}

@media screen and (max-width: 1200px){
   .column {
      flex:100%; /* ocupen un 100% del espacio, osea una sola columna en la pagina */
   }
}









